.inter { font-family: 'Inter', sans-serif; }
.card {
    box-shadow: 0 2px 6px -2px black;
    transition: transform 0.3s ease;
    z-index: 0;
}
.card:hover {
    transform: scale(1.10);
    z-index: 10;
}